/****** General ***********/

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    max-width: 1440px; 
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

section {
    margin-bottom: 40px;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Header **********/

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 79px;
    margin-bottom: 40px;
}

header img {
    width: 61.089656829833984px;
    height: 19px;
    margin: 30px 50px 30px 0;
    gap: 10px;
}


/****** Navigation ***********/

nav {
    display: flex;
    margin-left: auto;
    flex-direction: row;
    height: 35px;
    justify-content: flex-end;
}

.lien-nav {
    display: flex;
    gap: 68px;
    margin-bottom: auto;
    list-style: none;
}

.lien-nav a:hover {
    color: #0065FC;
    border-top: solid 0.2rem var(--main-color);
    padding-top: 0.8rem;
    cursor: auto;
}


/****** Search **********/

.menu-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 281px;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    height: 50px;
    width: fit-content;
    background-color: white;
    border: 1px solid #F2F2F2;
}

.search-icon {
    background-color: #F2F2F2;
    padding: 0 18px;
    display: flex;
    align-items: center;
    height: 100%;
}

.search-icon i {
    font-size: 16px;
    color: black;
}

.search-bar input[type="text"] {
    border: none;
    padding: 0 15px;
    font-size: 16px;
    height: 100%;
    width: 180px;
    font-weight: bold;
}

.search-bar input:focus {
    outline: none;
}

.search-bar input::placeholder {
    color: #000000;
}

.search-bar button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 0 20px;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
}


/****** Filters **********/



.menu-info h1 {
    margin-top: 0;
    margin-bottom: 8px;
}

.menu-info p {
    margin: 0;
}

.filter-bar span {
  margin-right: 15px;
  font-size: 19px;
  font-weight: 700;
}

.filter li {
    margin-right: 15px;
}

.filter li:last-child {
    margin-right: 0;
}

.filter-bar {
    display: flex;
    align-items: center;
    width: 60%;
    height: 50px;
}

.filter {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter li button {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    padding: 4px 19px 4px 19px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background: white;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.filter li button:hover {
    background-color: #DEEBFF;
}

.icon-info {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 8px;             
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  color: var(--main-color);
  font-size: 14px;               
  background-color: white;       
}


/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 614px;
    margin-bottom: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/

.hebergements {
    width: 65%;
    height: 614px;
}

.hebergements-title {
    display: flex;
    align-items: center;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 33px;
    grid-auto-rows: 207.25px;
}

.hebergement-cards .cards {
    width: 250.33px;
    height: 207.25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
    gap: 4px;
}

.hebergements-cards img {
    width: 100%;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 5px;
    object-fit: cover;
}

.hebergements-cards .card-content {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    box-sizing: border-box;
    padding: 10px 12px 15px;
}

.hebergements-cards .card-title {
    margin: 0;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 0px;
    height: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
}

.hebergements-cards .card-rating {
    margin-top: 0px;
}

.show-more {
    display: block;
    width: 100%;              
    height: 21px;                       
    font-weight: 700;          
    font-size: 18px;         
    line-height: 21px;        
    letter-spacing: 0;         
    text-align: left;
    cursor: pointer;
    margin-bottom: 10px; 
}


/****** Populaires ***********/

.populaires {
    width: 32%;
    height: 614px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activites ***********/

.section-activites {
    width: 100%;
    height: 559.02px;
    display: flex;
    flex-direction: column;
}

.activites {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.section-activites .card {
    width: 100%;
    height: 439px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    padding: 0%;
}

.activites img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.section-activites .section-title {
    margin: 0;
    margin: 20px 0 30px 20px;
}

.section-activites .card-content {
    margin-left: 20px;
}


/****** Footer **********/

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  gap: 100px;
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  width: 100%;
}

.footer-list {
  flex: 1;
}

.footer-title {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}


.footer-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-list ul li + li {
  margin-top: 10px;
}

.footer a {
  color: inherit;
  text-decoration: none;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    body {
        max-width: 1024px; 
        width: 100%;
        height: auto;
        margin: 0 auto;
        font-family: 'Raleway', sans-serif;
        
    }

    .main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 50px;
        box-sizing: border-box;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        height: 913.5px;
    }

    .hebergements {
        height: 611.5px;
        width: 100%;
    }

    .populaires {
        width: 100%;
        height: 252px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 252px;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .section-activites {
        height: 390.02px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .activites {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 30px 30px;
        gap: 20px;
    }

    .section-activites .card {
        width: 100%;
        height: 270px;
        border-radius: 20px;
        box-shadow: 0px 3px 15px 0px #0000001A;
        padding: 0%;
    }

    .activites img {
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0 0;
    }

    .menu-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 322px;
        justify-content: space-between;
        gap: 35px;
}

    .filter-bar {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 91px;
    }

    .filter-bar span {
        font-size: 19px;
        font-weight: 700;
    }

    .filter {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        margin-top: 15px;
    }

    .filter li {
        margin-right: 15px;
        margin-bottom: 15px;
    }

    footer {
        height: 163px;
    }

}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

body {
    max-width: 767.98px;
    min-width: 320px;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.main-container {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0;
}

header {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    margin: 0;
    padding: 0;
}

header img {
    width: 61.09px;
    height: 19px;
    margin: 0 auto;
    padding: 30px;
    gap: 10px;
}

nav {
    justify-content: center;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    gap: 15px;
}

.lien-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    margin: 0;
}

.lien-nav li {
    width: 50%;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 35px;

}

.lien-nav li:hover {
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
    border-top: none;
    padding-top: 0;
    cursor: pointer;
}

.lien-nav a:hover {
    border-top: none;
    padding-top: initial;
    border-bottom: none;
    color: inherit;
}

.menu-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-right: 20px;
    padding-left: 20px;
    gap: 35px;
}

.search-bar {
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    max-width: 335px;
    height: 50px;
    background-color: white;
    box-shadow: 0 0 0 1px #ccc;
}

.search-icon {
    background-color: #F2F2F2;
    padding: 0 18px;
    align-items: center;
    height: 100%;
}

.search-icon i {
    font-size: 16px;
    color: black;
}

.search-bar input[type="text"] {
    border: none;
    padding: 0 15px;
    font-size: 16px;
    height: 100%;
    width: 180px;
    font-weight: bold;
}

.search-bar button .fa-solid {
    font-size: 16px;
    color: white;
    display: block;
}

.search-bar input:focus {
    outline: none;
}

.search-bar input::placeholder {
    color: #000000;
}

.search-bar button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 0 20px;
    height: 100%;
    font-size: 0;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.filter-bar {
    align-items: flex-start;
    width: 100%;
    height: auto;
    gap: 20px;
}

.filter {
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter li {
    margin-right: 15px;
}

.filter li:last-child {
    margin-right: 0;
}

.filter li button {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    width: 162.5px;
    padding: 4px 19px 4px 19px;
    border: 2px solid var(--filter-bg-color);
    border-radius: 25px;
    background: white;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.hebergements-and-populaires {
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
}

.hebergements-and-populaires .populaires {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 30px 20px 30px 20px;
    gap: 15px;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.populaires-cards .card {
    width: 100%;
    margin-top: 33px;
}

.populaires-cards a {
    width: 100%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards img {
    width: 33%;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-and-populaires .hebergements {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    width: 100%;
    height: 1435.5px;
}

.hebergements-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hebergements-cards .cards {
    flex-direction: column;
    width: 100%;
}

.hebergement-cards a {
    flex-direction: column;
    width: 100%;
    height: 207.25px;
}

.hebergements-cards img {
    width: 100%;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 5px;
    object-fit: cover;
}

.hebergements-cards .card-content {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    box-sizing: border-box;
    padding: 10px 12px 15px;
}

.hebergements-cards .card-title {
    margin: 0;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 0px;
    height: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
}

.hebergements-cards .card-rating {
    margin-top: 0px;
}

.section-activites {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 30px;

}

.activites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 15px;
}

.section-activites .card {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.activites img {
    width: 100%;
    height: 141px;
    border-radius: 20px 20px 0 0;
}

.footer {
    flex-direction: column;
    width: 100%;
    height: auto;
}

}
