/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    max-height: 1722.02px;
}

section {
    margin-bottom: 40px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Header **********/

header {
    display: flex;
    flex-direction: row;
    width: 1340px;
    height: 79px;
    margin-bottom: 40px;
}

header img {
    width: 61.089656829833984px;
    height: 19px;
    margin: 30px 50px 30px 0;
    gap: 10px;
}


/****** Navigation ***********/

nav {
    display: flex;
    margin-left: auto;
    flex-direction: row;
    height: 35px;
    width: 344px;
    justify-content: flex-end;
}

.lien-nav {
    display: flex;
    gap: 68px;
    margin-bottom: auto;
    list-style: none;
}

.lien-nav a:hover {
    color: #0065FC;
    border-top: solid 0.2rem var(--main-color);
    padding-top: 0.8rem;
    cursor: auto;
}


/****** Search **********/

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    height: 50px;
    width: fit-content;
    background-color: white;
    box-shadow: 0 0 0 1px #ccc;
}

.search-icon {
    background-color: #F2F2F2;
    padding: 0 18px;
    display: flex;
    align-items: center;
    height: 100%;
}

.search-icon i {
    font-size: 16px;
    color: black;
}

.search-bar input[type="text"] {
    border: none;
    padding: 0 15px;
    font-size: 16px;
    height: 100%;
    width: 180px;
    font-weight: bold;
}

.search-bar input:focus {
    outline: none;
}

.search-bar input::placeholder {
    color: #000000;
}

.search-bar button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 0 20px;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
}


/****** Filters **********/

.menu-info {
    display: flex;
    flex-direction: column;
    width: 1340px;
    height: 281px;
    justify-content: space-between;
}

.menu-info h1 {
    margin-top: 0;
    margin-bottom: 8px;
}

.menu-info p {
    margin: 0;
}

.filter-bar span {
  margin-right: 15px;
  font-size: 19px;
  font-weight: 700;
}

.filter li {
    margin-right: 15px;
}

.filter li:last-child {
    margin-right: 0;
}

.filter-bar {
    display: flex;
    align-items: center;
    width: 758px;
    height: 50px;
}

.filter {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter li button {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    padding: 4px 19px 4px 19px;
    border: 2px solid var(--filter-bg-color);
    border-radius: 25px;
    background: white;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.filter li button:hover {
    background-color: #DEEBFF;
}

.icon-info {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 8px;             
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  font-size: 14px;               
  background-color: white;       
}


/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    width: 1340px;
    height: 614px;
    margin-bottom: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/

.hebergements {
    width: 65%;
    height: 614px;
}

.hebergements-title {
    display: flex;
    align-items: center;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 33px;
    grid-auto-rows: 207.25px;
}

.hebergement-cards .cards {
    width: 250.33px;
    height: 207.25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
    gap: 4px;
}

.hebergements-cards img {
    width: 100%;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 5px;
    object-fit: cover;
}

.hebergements-cards .card-content {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    box-sizing: border-box;
    padding: 10px 12px 15px;
}

.hebergements-cards .card-title {
    margin: 0;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 0px;
    height: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
}

.hebergements-cards .card-rating {
    margin-top: 0px;
}

.show-more {
    display: block;
    width: 100%;              
    height: 21px;                       
    font-weight: 700;          
    font-size: 18px;         
    line-height: 21px;        
    letter-spacing: 0;         
    text-align: left;
    cursor: pointer;
    margin-bottom: 10px; 
}


/****** Populaires ***********/

.populaires {
    width: 32%;
    height: 614px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activites ***********/

.section-activites {
    width: 1340px;
    height: 559.02px;
    display: flex;
    flex-direction: column;
}

.activites {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.section-activites .card {
    width: 297.5px;
    height: 439px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
}


.activites img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.section-activites .section-title {
    margin: 0;
    margin: 20px 0 30px 20px;
}

.section-activites .card-content {
    margin-left: 20px;
}

/****** Footer **********/

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  gap: 100px;
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  width: 1340px;
}

.footer-list {
  flex: 1;
}

.footer-title {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}


.footer-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-list ul li + li {
  margin-top: 10px;
}

.footer a {
  color: inherit;
  text-decoration: none;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}